@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Trade+Winds&display=swap');

:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
--cor2: #3ddc84;
--cor4: #2fa866;
--cor5: #042814;
--font-padrao: Arial, Helvetica, Verdana, sans-serif;
--font-google: 'Inter';
}
h1{
font: var(--font-google);
font-weight: bold;
font-size: 2em;
}
header{
background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor4), var(--cor5));

}
footer{
    background-color: #2fa866;
}
nav  {
    background-color:  var(--cor5);

}
nav > a{
    color: white;
    padding: 10;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover {
    background-color: rgb(0, 255, 76);
    color: black;
}
nav > a:active{
    color:red;
}
h4{
    color: red;

    background-color: #58BC82;
    border-radius: 10px;
    border-color: blue;
}
div.video{
    background-color: #063d1e;
margin-top: 19px;
margin-bottom: 19px;
margin-right: 19px;
margin-left: 19px;
    padding: 40%;
    position: relative;
    outline: 2px dashed salmon;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
main{
    background-image: linear-gradient(to right, #BAECE7, #D3F7F3, #FFFAFF, #1DF8FF);
}   
 label{
    display: block;
text-align: center;
font-size: 10em;
font-family: Helvetica;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(240, 100%, 50%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
text-align: center;
}
.buttons:hover{
    background-color: hsl(214, 100%, 56%);
}